[submodule "components/glsl-max_weave"]
	path = components/glsl-max_weave
	url = https://github.com/aceslowman/glsl-max_weave.git
[submodule "components/glsl-max_shake"]
	path = components/glsl-max_shake
	url = https://github.com/aceslowman/glsl-max_shake.git
[submodule "components/glsl-max_cellular-noise"]
	path = components/glsl-max_cellular-noise
	url = https://github.com/aceslowman/glsl-max_cellular-noise.git
[submodule "components/glsl-max_displacement"]
	path = components/glsl-max_displacement
	url = https://github.com/aceslowman/glsl-max_displacement.git
